<!DOCTYPE html>
<html lang="es">
	<head>  
		<meta charset="utf-8">
		<!--<meta name="viewport" content="width= device-width, initial-scale=1.0">-->
		<!-- LINK CSS Y JS  -->
		<link rel="stylesheet" type="text/css" href="/media/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/media/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/media/bootstrap/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="/media/css/style.css">
		<link rel="stylesheet" type="text/css" href="/media/css/style2.css">
		<link rel="stylesheet" type="text/css" href="/media/js/jquery/jquery-ui.css">
		<script src="/media/js/OpenLayers-2.13.1/OpenLayers.js"></script>
		<script src="/media/js/jquery-1.10.2.min.js"></script>
		<script src="/media/js/jquery/jquery-ui.js" ></script>
		<script src="/media/bootstrap/js/bootstrap.min.js"></script>
		<script src="/media/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/media/js/tiny_mce/tiny_mce.js"></script>
		<!-- *** scrpt del mapa *** -->
		{% block mapa  %}{% endblock %}
		<!-- *** ************** *** -->


<!--#################################################################################-->
{% if jsimagenes %}
<!-- Add jQuery library -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="/media/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
<!-- Add fancyBox -->
<link rel="stylesheet" href="/media/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/media/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript">
	$(document).ready(function() {
	$(".fancybox").fancybox();
	});
</script>
{% endif %}
<!--##################################################################################-->
	{% if textarea %}
		<script type="text/javascript" src="/media/js/textareas.js"></script>
	{% endif %}

<!--##################################################################################-->
	<title>Revista Barrial</title>
	</head>
	<body onload="init()">

	<!-- * *** *** *** MENU *** *** *** *** * -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">cambiar navegacion</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		<a href="{% url 'index' %}" class="navbar-brand titulo">Vista Barrial</a>
		</div>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a href="{% url 'contacto' %}">Contacto</a></li>
				{% if user.is_authenticated %}
					<li><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
				{% else %}
					<li><a href="{% url 'login' %}">login</a></li>
				{% endif %}
				{% if not user.is_authenticated %}
					<li><a href="{% url 'info' %}">Como ser parte</a></li>
				{% endif %}   
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if user.is_authenticated %}
					<li class="a">
							Usuario: {{user.username}}
					</li>
				{% endif %}
			</ul>
		</div>
	</nav>
	<!-- * *** *** *** **** *** *** *** *** * -->

	<!-- * * * * * * * * contenedor * * * * * * * * *-->
		{% block contenido_principal %}{% endblock %} 
	<!-- * * * * * * * * * * * * * * * * * * * * * * -->

	<!--
	<footer class="footer">
	<div class="container"></div>
	</footer>
	-->

	</body>
</html>
